<select
  name="template_id"
  {% if not templates %}
    disabled
  {% else %}
    hx-post="/projects/{{ project_id }}/export"
    hx-trigger="load, change, docgen:document-ready from:body, docgen:document-updated from:body"
    hx-include="#export-form"
    hx-target="#export-result"
    hx-swap="innerHTML"
  {% endif %}
>
  {% if not templates %}
    <option value="">Нет доступных шаблонов</option>
  {% endif %}
  {% for template in templates %}
    <option value="{{ template.id }}"{% if template.id == "colvir" %} selected{% endif %}>{{ template.name }}</option>
  {% endfor %}
</select>
